image @IMAGE@ {
	vfat {
		files = { @FILES@ }
		file kernel7.img { image = "@KERNEL@" }
		file bcm2709-rpi-2-b.dtb { image = "bcm2709-rpi-2-b.dtb" }
		file overlays/README { image = "@OVERLAYPATH@/README" }
		file overlays/ads7846-overlay.dtb { image = "@OVERLAYPATH@/ads7846-overlay.dtb" }
		file overlays/at86rf233-overlay.dtb { image = "@OVERLAYPATH@/at86rf233-overlay.dtb" }
		file overlays/bmp085_i2c-sensor-overlay.dtb { image = "@OVERLAYPATH@/bmp085_i2c-sensor-overlay.dtb" }
		file overlays/dht11-overlay.dtb { image = "@OVERLAYPATH@/dht11-overlay.dtb" }
		file overlays/enc28j60-overlay.dtb { image = "@OVERLAYPATH@/enc28j60-overlay.dtb" }
		file overlays/gpio-ir-overlay.dtb { image = "@OVERLAYPATH@/gpio-ir-overlay.dtb" }
		file overlays/gpio-poweroff-overlay.dtb { image = "@OVERLAYPATH@/gpio-poweroff-overlay.dtb" }
		file overlays/hifiberry-amp-overlay.dtb { image = "@OVERLAYPATH@/hifiberry-amp-overlay.dtb" }
		file overlays/hifiberry-dac-overlay.dtb { image = "@OVERLAYPATH@/hifiberry-dac-overlay.dtb" }
		file overlays/hifiberry-dacplus-overlay.dtb { image = "@OVERLAYPATH@/hifiberry-dacplus-overlay.dtb" }
		file overlays/hifiberry-digi-overlay.dtb { image = "@OVERLAYPATH@/hifiberry-digi-overlay.dtb" }
		file overlays/hy28a-overlay.dtb { image = "@OVERLAYPATH@/hy28a-overlay.dtb" }
		file overlays/hy28b-overlay.dtb { image = "@OVERLAYPATH@/hy28b-overlay.dtb" }
		file overlays/i2c-gpio-overlay.dtb { image = "@OVERLAYPATH@/i2c-gpio-overlay.dtb" }
		file overlays/i2c-rtc-overlay.dtb { image = "@OVERLAYPATH@/i2c-rtc-overlay.dtb" }
		file overlays/i2s-mmap-overlay.dtb { image = "@OVERLAYPATH@/i2s-mmap-overlay.dtb" }
		file overlays/iqaudio-dac-overlay.dtb { image = "@OVERLAYPATH@/iqaudio-dac-overlay.dtb" }
		file overlays/iqaudio-dacplus-overlay.dtb { image = "@OVERLAYPATH@/iqaudio-dacplus-overlay.dtb" }
		file overlays/lirc-rpi-overlay.dtb { image = "@OVERLAYPATH@/lirc-rpi-overlay.dtb" }
		file overlays/mcp2515-can0-overlay.dtb { image = "@OVERLAYPATH@/mcp2515-can0-overlay.dtb" }
		file overlays/mcp2515-can1-overlay.dtb { image = "@OVERLAYPATH@/mcp2515-can1-overlay.dtb" }
		file overlays/mmc-overlay.dtb { image = "@OVERLAYPATH@/mmc-overlay.dtb" }
		file overlays/mz61581-overlay.dtb { image = "@OVERLAYPATH@/mz61581-overlay.dtb" }
		file overlays/piscreen-overlay.dtb { image = "@OVERLAYPATH@/piscreen-overlay.dtb" }
		file overlays/piscreen2r-overlay.dtb { image = "@OVERLAYPATH@/piscreen2r-overlay.dtb" }
		file overlays/pitft28-capacitive-overlay.dtb { image = "@OVERLAYPATH@/pitft28-capacitive-overlay.dtb" }
		file overlays/pitft28-resistive-overlay.dtb { image = "@OVERLAYPATH@/pitft28-resistive-overlay.dtb" }
		file overlays/pps-gpio-overlay.dtb { image = "@OVERLAYPATH@/pps-gpio-overlay.dtb" }
		file overlays/pwm-2chan-overlay.dtb { image = "@OVERLAYPATH@/pwm-2chan-overlay.dtb" }
		file overlays/pwm-overlay.dtb { image = "@OVERLAYPATH@/pwm-overlay.dtb" }
		file overlays/raspidac3-overlay.dtb { image = "@OVERLAYPATH@/raspidac3-overlay.dtb" }
		file overlays/rpi-backlight-overlay.dtb { image = "@OVERLAYPATH@/rpi-backlight-overlay.dtb" }
		file overlays/rpi-dac-overlay.dtb { image = "@OVERLAYPATH@/rpi-dac-overlay.dtb" }
		file overlays/rpi-display-overlay.dtb { image = "@OVERLAYPATH@/rpi-display-overlay.dtb" }
		file overlays/rpi-ft5406-overlay.dtb { image = "@OVERLAYPATH@/rpi-ft5406-overlay.dtb" }
		file overlays/rpi-proto-overlay.dtb { image = "@OVERLAYPATH@/rpi-proto-overlay.dtb" }
		file overlays/rpi-sense-overlay.dtb { image = "@OVERLAYPATH@/rpi-sense-overlay.dtb" }
		file overlays/sdhost-overlay.dtb { image = "@OVERLAYPATH@/sdhost-overlay.dtb" }
		file overlays/sdio-overlay.dtb { image = "@OVERLAYPATH@/sdio-overlay.dtb" }
		file overlays/smi-dev-overlay.dtb { image = "@OVERLAYPATH@/smi-dev-overlay.dtb" }
		file overlays/smi-nand-overlay.dtb { image = "@OVERLAYPATH@/smi-nand-overlay.dtb" }
		file overlays/smi-overlay.dtb { image = "@OVERLAYPATH@/smi-overlay.dtb" }
		file overlays/spi-bcm2708-overlay.dtb { image = "@OVERLAYPATH@/spi-bcm2708-overlay.dtb" }
		file overlays/spi-bcm2835-overlay.dtb { image = "@OVERLAYPATH@/spi-bcm2835-overlay.dtb" }
		file overlays/spi-dma-overlay.dtb { image = "@OVERLAYPATH@/spi-dma-overlay.dtb" }
		file overlays/tinylcd35-overlay.dtb { image = "@OVERLAYPATH@/tinylcd35-overlay.dtb" }
		file overlays/uart1-overlay.dtb { image = "@OVERLAYPATH@/uart1-overlay.dtb" }
		file overlays/vga666-overlay.dtb { image = "@OVERLAYPATH@/vga666-overlay.dtb" }
		file overlays/w1-gpio-overlay.dtb { image = "@OVERLAYPATH@/w1-gpio-overlay.dtb" }
		file overlays/w1-gpio-pullup-overlay.dtb { image = "@OVERLAYPATH@/w1-gpio-pullup-overlay.dtb" }
	}
	name = boot-vfat
	size = 32M
}
